{% extends 'base_container.html' %}

{% block base_container %}
<div class="container m-4">

	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}
	
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		<input type="hidden" name="next" value="{{ next }}" />
		<button type="submit" value="login" class="btn btn-primary">Login</button>
	</form>
	
	{# Assumes you setup the password_reset view in your URLconf #}
	<div class="my-2">
		<a href="{% url 'password_reset' %}" class="btn btn-primary btn-sm">Forgot password?</a>
		<a href="/accounts/register" class="btn btn-primary btn-sm">I don't have an account</a>
	</div>
</div>
{% endblock base_container %}