{% extends "base_container.html" %}

{% block base_container %}

	<form action="" method="post">
		{% csrf_token %}
		{% if form.email.errors %}
			{{ form.email.errors }}
		{% endif %}
		<p>Enter your email address for password reset:</p>
		<p>{{ form.email }}</p>
		<input type="submit" class="btn btn-defaut btn-lg" value="Reset password" />
	</form>

{% endblock base_container %}