{% extends "base_container.html" %}

{% block base_container %}

    <form method="POST">
        {% csrf_token %}

        <div class="form-row mt-3">
            <div class="form-group col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" required>
            </div>
            <div class="form-group col-md-6">
                <label for="firstname">Last Name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" required>
            </div>
            
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="email@example.com" name="email" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.password1.label_tag }}
                {{ form.password1 }}                
            </div>
            <div class="form-group col-md-6">
                {{ form.password2.label_tag }}
                {{ form.password2 }}                
            </div>
        </div>

        <div class="form-row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="userType" id="user_type2" value="client" checked>
                <label class="form-check-label" for="user_type2">Client</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="userType" id="user_type1" value="doctor">
                <label class="form-check-label" for="user_type1">Doctor</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
    </form>

    <p>If you already have an account <a href="/accounts/login"><strong>login</strong></a> instead.</p>

{% endblock base_container %}
