{% extends 'base.html' %}

{% block base %}
	<div class="row">
		<div class="col-12 col-md-3">
			<h2>Categories</h2>
			<div class="list-group" id="list-tab" role="tablist">
				{% for category in categories %}
					<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-toggle="list" href="#category_{{ category.pk }}" role="tab">
						{{ category.name }}
						<span class="badge badge-primary badge-pill">{{ category.doctor_set.count }}</span>
					</a>
				{% endfor %}
				{% if not categories %}
					<h3>No categories were added</h3>
				{% endif %}
			</div>
		</div>

		<div class="col-12 col-md-9">
			<h2>Doctors in this category</h2>
			<div class="tab-content">
				{% for category in categories %}
					<div class="tab-pane" id="category_{{ category.pk }}" role="tabpanel">
						{% for doctor in category.doctor_set.all %}
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h4>
									<p class="card-text">{{ doctor.address|safe }}</p>
									{% if doctor.schedule %}
										<a href="/doctor/{{ doctor.pk }}" class="btn btn-primary">View this doctor</a>
									{% else %}
										<p>This doctor has no schedule, sorry</p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						{% if not category.doctor_set.all %}
							<h3>There are no doctors in this category yet</h3>
						{% endif %}
					</div>
				{% endfor %}
				{% if not categories %}
					<h3>No categories were added</h3>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock base %}