<footer class="page-footer font-small blue pt-4">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-3">
				<h5 class="text-uppercase">APPointment</h5>
				<p>Simple app to make appointments to doctors</p>
			</div>
			<hr class="clearfix w-100 d-md-none pb-3">
			<div class="col-md-3 mb-md-0 mb-3">
				<h5 class="text-uppercase">Author: Zolotarev Mikhail</h5>
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/Zoitom">GitHub</a>
					</li>
					<li>
						<a href="https://gitlab.com/Zoitom">GitLab</a>
					</li>
					<li>
						<a href="https://linkedin.com/in/zoitom">LinkedIn</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</footer>