{% extends 'base_container.html' %}

{% block base_container %}
	{% if deactivated %}
		<div class="alert alert-danger" role="alert">
		  An appointment was deactivated
		</div>
	{% endif %}
{% if appointments %}
	<ul>
		{% for appointment in appointments %}
			{% if appointment.is_active %}
				{% if user.client %}
				<li class="m-2"> There is an appointment to {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }} at {{ appointment.datetime }} </li>
				{% else %}
				<li class="m-2"> There is an appointment from {{ appointment.client.user.first_name }} {{ appointment.client.user.last_name }} at {{ appointment.datetime }}</li>
				{% endif %}
				<form method="GET">
					<input type="hidden" name="appointment-id" value="{{ appointment.id }}"/>
					<button type="submit" class="btn btn-primary mb-4">Deactivate</button>
				</form>
			{% endif %}
		{% endfor %}
	</ul>
{% else %}
<h2>You have no appointments</h2>
{% endif %}
{% endblock base_container %}