<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item {% if 'browse' in request.path %}active{% endif %}">
                <a class="nav-link text-nowrap" href="/browse">Browse</a>
            </li>
            <li class="nav-item {% if 'my_appointments' in request.path %}active{% endif %}">
                <a class="nav-link text-nowrap" href="/my_appointments">My Appointments</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="">Logged in as: {{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/accounts/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/admin">CRUD Panel</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/accounts/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="/accounts/register">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
