{% extends 'base_container.html' %}

{% block base_container %}
<div class="row m-4">

    <div class="col-12 col-md-4">
        {% load static %}
        <img src="{% static 'doctors/profile_picture.png' %}" class="rounded" alt="icon_profile_picture">
    </div>

    <div class="col-md-8">
        <dl class="row">
            {% if user.doctor %}

            {% endif %}
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">
                {{ user.first_name }} {{ user.last_name }}
                <button class="btn btn-primary btn-sm ml-3" type="button" data-toggle="collapse" data-target="#collapseNameForm" aria-expanded="false" aria-controls="collapseNameForm">
                    Change
                </button>
                <div class="collapse my-1" id="collapseNameForm">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="First name" name="firstname" required>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Last name" name="lastname" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </form>
                </div>
            </dd>

            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">{{ user.username }}</dd>

            <dt class="col-sm-3">E-mail</dt>
            <dd class="col-sm-9">{{ user.email }}</dd>

            <dt class="col-sm-3">Password</dt>
            <dd class="col-sm-9">
                <a class="btn btn-primary btn-sm" href="/accounts/password_change">Change password</a>
            </dd>

            {% if user.doctor %}
            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">
                {{ user.doctor.address}}
                <button class="btn btn-primary btn-sm ml-3" type="button" data-toggle="collapse" data-target="#collapseAddressForm" aria-expanded="false" aria-controls="collapseAddressForm">
                    Change
                </button>
                <div class="collapse my-1" id="collapseAddressForm">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control" value="{{ user.doctor.address }}" name="address" required>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </form>
                </div>
            </dd>

            <dt class="col-sm-3">Categories</dt>
            <dd class="col-sm-9">
                {% if user.doctor.categories.count %}
                <ul>
                {% for category in user.doctor.categories.all %}
                    <li>{{ category.name }}</li>
                {% endfor %}
                </ul>
                <a href="/admin/doctors/doctor/{{ user.doctor.id }}/change/" class="btn btn-primary btn-sm ml-3">Change categories</a>

                {% else %}
                    You haven't added any category yet
                    <a href="/admin/doctors/doctor/{{ user.doctor.id }}/change/" class="btn btn-primary btn-sm ml-3">Add categories</a>
                {% endif %}
            </dd>

            <dt class="col-sm-3">Schedule</dt>
            <dd class="col-sm-9">
                {% if user.doctor.schedule %}
                <!-- schedule table-->
                    <p class="card-text">Interval: {{ user.doctor.schedule.interval }} minutes</p>
                    <div class="table-responsive">
                        <table class="table table-stripped table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Day of week</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tr>
                                <th>Monday</th>
                                <td>{{ user.doctor.schedule.monday_from }}</td>
                                <td>{{ user.doctor.schedule.monday_to }}</td>
                            </tr>
                            <tr>
                                <th>Tuesday</th>
                                <td>{{ user.doctor.schedule.tuesday_from }}</td>
                                <td>{{ user.doctor.schedule.tuesday_to }}</td>
                            </tr>
                            <tr>
                                <th>Wednesday</th>
                                <td>{{ user.doctor.schedule.wednesday_from }}</td>
                                <td>{{ user.doctor.schedule.wednesday_to }}</td>
                            </tr>
                            <tr>
                                <th>Thursday</th>
                                <td>{{ user.doctor.schedule.thursday_from }}</td>
                                <td>{{ user.doctor.schedule.thursday_to }}</td>
                            </tr>
                            <tr>
                                <th>Friday</th>
                                <td>{{ user.doctor.schedule.friday_from }}</td>
                                <td>{{ user.doctor.schedule.friday_to }}</td>
                            </tr>
                            <tr>
                                <th>Saturday</th>
                                <td>{{ user.doctor.schedule.saturday_from }}</td>
                                <td>{{ user.doctor.schedule.saturday_to }}</td>
                            </tr>
                        </table>
                    </div>
                <a href="/admin/doctors/schedule/{{ user.doctor.schedule.id }}/change/" class="btn btn-primary btn-sm ml-3">Change Schedule</a>
                {% else %}
                    You have no schedule yet
                    <a href="/admin/doctors/schedule/add" class="btn btn-primary btn-sm ml-3">Create Schedule</a>
                {% endif %}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>
{% endblock base_container %}