{% extends 'base_container.html' %}

{% block base_container %}
<div class="jumbotron">
	<h1 class="display-4">APPointment</h1>
	<p class="lead">Simple app to make appointments to doctors</p>
</div>

<div class="row">
	<div class="col text-right">
		<h2>{{ numcat }} categories</h2>
		<h2>{{ numdoc }} doctors</h2>
		<h2>{{ numapp }} appointments made</h2>
		<h2 class="mt-2">Join us</h2>
	</div>

	<div class="col">
		{% load static %}
		<img src="{% static 'doctors/stock_doctor.jpg' %}" class="mx-auto rounded" alt="stock_doctor_image" height="318">
	</div>

</div>		

{% endblock base_container %}