{% extends 'base_container.html' %}

{% block base_container %}
<h2>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
<h3>{{ doctor.address|safe }}

{% if authorization_exception %}
<div class="alert alert-danger" role="alert">
	You are not logged in as a client! Register or log in as a client to make appointments!
</div>
<a href="/accounts/login" class="btn btn-primary">Okay</a>
{% else %}

<h3>Schedule</h3>
<!-- schedule table-->
<div>
	<p class="card-text">Interval: {{ doctor.schedule.interval }} minutes</p>
	<table class="table">
		<thead>
			<tr>
				<td>Monday</td>
				<td>Tuesday</td>
				<td>Wednesday</td>
				<td>Thursday</td>
				<td>Friday</td>
				<td>Saturday</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ doctor.schedule.monday_from }} - {{ doctor.schedule.monday_to }}</td>
				<td>{{ doctor.schedule.tuesday_from }} - {{ doctor.schedule.tuesday_to }}</td>
				<td>{{ doctor.schedule.wednesday_from }} - {{ doctor.schedule.wednesday_to }}</td>
				<td>{{ doctor.schedule.thursday_from }} - {{ doctor.schedule.thursday_to }}</td>
				<td>{{ doctor.schedule.friday_from }} - {{ doctor.schedule.friday_to }}</td>
				<td>{{ doctor.schedule.saturday_from }} - {{ doctor.schedule.saturday_to }}</td>
			</tr>
	</table>
</div>
<div class="d-flex justify-content-center">
	<form method="POST">
		{% csrf_token %}
		<button class="btn btn-primary m-2" name="week" type="submit" value="{{ week|add:-1 }}">
			Previous week
		</button>
<!--			todo: change to date format-->
		Week number: {{ week }}
		<button class="btn btn-primary m-2" name="week" type="submit" value="{{ week|add:1 }}">
			Next week
		</button>
	</form>
</div>
<table class="table table-sm">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Time</th>
			<th scope="col" style="width: 16%">Monday</th>
			<th scope="col" style="width: 16%">Tuesday</th>
			<th scope="col" style="width: 16%">Wednesday</th>
			<th scope="col" style="width: 16%">Thursday</th>
			<th scope="col" style="width: 16%">Friday</th>
			<th scope="col" style="width: 16%">Saturday</th>
		</tr>
	</thead>
	<tbody>
		{% for time, window_days in timetable.items %}
			<tr>
				<th scope="row">{{ time }}</th>
				{% for window in window_days %}
					{% if window == "free" %}
						<td class="table-success text-center">
							<form method="POST">
								{% csrf_token %}
								<input type="hidden" name="appointment-week" value="{{ week }}"/>
								<input type="hidden" name="appointment-weekday" value="{{ forloop.counter0 }}"/>
								<input type="hidden" name="appointment-time" value="{{ time }}"/>
								<input type="hidden" name="appointment-doctor" value="{{ doctor.pk }}"/>
								<button type="submit" class="btn btn-success btn-block btn-sm">Book</button>
							</form>
						</td>
					{% elif window == "busy" %}
						<td class="table-danger text-center">Already booked</td>
					{% else %}
						<td class="table-secondary text-center">Not available</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endif %}
{% endblock base_container %}