{% extends 'base_container.html' %}

{% block base_container %}

<h2>Your registration is completed</h2>
{% if request.user.doctor %}
<p>But you are not done yet! You have to set up your schedule, add address and categories, which will help the clients to find you</p>
<p>Go to Profile page where you add and change your data</p>
{% else %}
<p>Use navigation menu to browse doctors or modify your profile</p>
<p>After you make your first appointment it will appear on My Appointments page</p>
{% endif %}
<p>If you would like to remove your account, please contact our administrator by e-mail, which you can found at the bottom of the page</p>
<div>
	{% load static %}
	<img src="{% static 'doctors/stock_doctor_2.jpg' %}" class="mx-auto rounded" alt="stock_doctor_image" height="318">
</div>

{% endblock base_container %}